
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container-rob {
  padding: 0;
}

// html,
// body {
//   width: 100%;
//   height: 100%;
//   margin: 0px;
//   padding: 0px;
//   overflow-x: hidden;
// }

#menu {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
	background: #384047;
	height: 60px;
  //width: 1280px;
	padding: 0 5px 0;
	text-align: center;
}
ul {
	list-style: none;
}
ul li {
	display: inline-block;
	width: 84px;
	text-align: center;
}
ul li a {
	color: #fff;
	width: 100%;
	line-height: 60px;
	text-decoration: none;
}
// ul li.selected {
// 	background: #fff;
// }
ul li.selected a {
	color: #384047;
}
ul a:hover{
  color: white;
  text-decoration: none;
  font-weight: bolder;
}
select {
	width: 84%;
	margin: 11px  0 11px 2%;
	float: left;
}
button {
	display: inline-block;
	line-height: 18px;
	padding: 0 5px;
	margin: 11px 2% 11px 0;
	float: right;
	width: 10%;
}
// robertcable heading
.site-heading{
  height: 60vh;
  background: url('../images/skyline4.png') no-repeat;
  background-size: cover;
  display: table;
  background-position: top center;
  margin: 0;
  padding: 0;
  width: 100vw;
}
.first-name{
  font-family: 'Cinzel', serif;
}
.last-name{
  color: whitesmoke;
  font-family: 'Cinzel', serif;
}
.job-title{
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}


@media (min-width: 1200px) and (max-width: 1400px) {
  .first-name{
    text-align: center;
    padding-top: 0px;
    font-size: 60px;
  }
  .last-name{
    text-align: center;
    font-size: 60px;
  }
  .job-title{
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px rgb(0,0,0);
  }
  .jumbotron p{
    font-size: 34px;
  }
  #menu ul li a {
      font-size: 20px;
    }

    #menu ul {
      padding-left: 0px;
    }

  #menu ul li {
    width: 20%
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .first-name{
    text-align: center;
    padding-top: 25px;
    font-size: 70px;
    margin-right: 100px;
  }
  .last-name{
    text-align: center;
    font-size: 70px;
    color: white;
  }
  .job-title{
    text-align: center;
    font-size: 20px;
    color: white;
    margin-right: 100px;
    text-shadow: 1px 1px rgb(0,0,0);
  }
  .jumbotron p{
    font-size: 34px;
  }
  #menu ul li a {
      font-size: 20px;
    }

    #menu ul {
      padding-left: 0px;
    }

  #menu ul li {
    width: 20%
  }
}

@media (max-width: 767px) and (orientation: portrait){
 .first-name{
   text-align: center;
   padding-top: 25px;
   font-size: 40px;
 }
 .last-name{
   text-align: center;
   font-size: 40px;
 }
 .job-title{
   text-align: center;
   font-size: 20px;
   color: white;
    text-shadow: 1px 1px rgb(0,0,0);
 }
 #menu ul li a {
     font-size: 10px;
   }

   #menu ul {
     padding-left: 0px;
   }

 #menu ul li {
   width: 20%
 }
}
@media (max-width: 767px) and (orientation: landscape){
 .first-name{
   text-align: center;
   font-size: 20px;
 }
 .last-name{
   text-align: center;
   font-size: 20px;
 }
 .job-title{
   text-align: center;
   color: white;
   font-size: 10px;
   text-shadow: 1px 1px rgb(0,0,0);
 }
 .jumbotron p{
   font-size: 14px;
 }
 #menu ul li a {
     font-size: 10px;
   }

   #menu ul {
     padding-left: 0px;
   }

 #menu ul li {
   width: 20%
 }
}


/**Modify CSS to hide links on small width and show button and select
  //Also hide select and button on larger width and show's links
 **/

 //Skills
 @media (max-width: 767px) and (orientation: portrait){
   .extra{
     display: none;
   }
   .html-shield{
     font-size: 4em;
   }
   .css-shield{
     position: relative;
     font-size: 4em;
   }
   .bootstrap-shield{
     font-size: 4em;
   }
   .sass-shield{
     font-size: 4em;
   }
   .js-shield{
     font-size: 4em;
   }
   .jq-shield{
     font-size: 4em;
   }
   .backbone-shield{
     font-size: 4em;
   }
   .react-shield{
     font-size: 4em;
   }
   .yeo-shield{
     font-size: 4em;
   }
   .npm-shield{
     font-size: 4em;
   }
   .git-shield{
     font-size: 4em;
   }
   .github-shield{
     font-size: 4em;
   }
 }
 @media (max-width: 767px) and (orientation: landscape){
   .extra{
     display: none;
   }
   .html-shield{
     font-size: 4em;
   }
   .css-shield{
     position: relative;
     font-size: 4em;
   }
   .bootstrap-shield{
     font-size: 4em;
   }
   .sass-shield{
     font-size: 4em;
   }
   .js-shield{
     font-size: 4em;
   }
   .jq-shield{
     font-size: 4em;
   }
   .backbone-shield{
     font-size: 4em;
   }
   .react-shield{
     font-size: 4em;
   }
   .yeo-shield{
     font-size: 4em;
   }
   .npm-shield{
     font-size: 4em;
   }
   .git-shield{
     font-size: 4em;
   }
   .github-shield{
     font-size: 4em;
   }
 }
@media (min-width: 768px) and (max-width: 1199px){
 .html-shield{
   font-size: 7em;
 }
 .css-shield{
   position: relative;
   font-size: 7em;
 }
 .bootstrap-shield{
   font-size: 7em;
 }
 .sass-shield{
   font-size: 7em;
 }
 .js-shield{
   font-size: 7em;
 }
 .jq-shield{
   font-size: 7em;
 }
 .backbone-shield{
   font-size: 7em;
 }
 .react-shield{
   font-size: 7em;
 }
 .yeo-shield{
   font-size: 7em;
 }
 .npm-shield{
   font-size: 7em;
 }
 .git-shield{
   font-size: 7em;
 }
 .github-shield{
   font-size: 7em;
 }
 //Hover Effect
 .extra{
   display: none;
   font-weight: bolder;
 }
 .html-shield:hover .extra{
   position: absolute;
   display: block;
   bottom: 100px;
   left: 0;
   right: 0;
   transition: .25s;
 }
 .html-shield:hover{
   color: maroon;
 }
 .css-shield:hover .extra{
   position: absolute;
   display: block;
   bottom: 100px;
   left: 0;
   right: 0;
   transition: .25s;
 }
 .css-shield:hover{
   color: maroon;
 }
 .bootstrap-shield:hover .extra{
   position: absolute;
   display: block;
   bottom: 100px;
   left: 0;
   right: 0;
   transition: .25s;
 }
 .bootstrap-shield:hover{
   color: maroon;
 }
 .sass-shield:hover .extra{
   position: absolute;
   display: block;
   bottom: 100px;
   left: 0;
   right: 0;
   transition: .25s;
 }
 .sass-shield:hover{
   color: maroon;
 }
.js-shield:hover .extra{
  position: absolute;
  display: block;
  bottom: 105px;
  left: 0;
  right: 0;
  transition: .25s;
}
.js-shield:hover{
  color: maroon;
}
.jq-shield:hover .extra{
  position: absolute;
  display: block;
  bottom: 100px;
  left: 0;
  right: 0;
  transition: .25s;
}
.jq-shield:hover{
  color: maroon;
}
.backbone-shield:hover .extra{
  position: absolute;
  display: block;
  bottom: 100px;
  left: 0;
  right: 0;
  transition: .25s;
}
.backbone-shield:hover{
  color: maroon;
}
.react-shield:hover .extra{
  position: absolute;
  display: block;
  bottom: 100px;
  left: 0;
  right: 0;
  transition: .25s;
}
.react-shield:hover{
  color: maroon;
}
.yeo-shield:hover .extra{
  position: absolute;
  display: block;
  bottom: 100px;
  left: 0;
  right: 0;
  transition: .25s;
}
.yeo-shield:hover{
  color: maroon;
}
.npm-shield:hover .extra{
  position: absolute;
  display: block;
  bottom: 100px;
  left: 0;
  right: 0;
  transition: .25s;
}
.npm-shield:hover{
  color: maroon;
}
.git-shield:hover .extra{
  position: absolute;
  display: block;
  bottom: 100px;
  left: 0;
  right: 0;
  transition: .25s;
}
.git-shield:hover{
  color: maroon;
}
.github-shield:hover .extra{
  position: absolute;
  display: block;
  bottom: 100px;
  left: 0;
  right: 0;
  transition: .25s;
}
.github-shield:hover{
  color: maroon;
}
}
@media (min-width: 1200px) and (max-width: 1400px){
  .html-shield{
    font-size: 7em;
  }
  .css-shield{
    position: relative;
    font-size: 7em;
  }
  .bootstrap-shield{
    font-size: 7em;
  }
  .sass-shield{
    font-size: 7em;
  }
  .js-shield{
    font-size: 7em;
  }
  .jq-shield{
    font-size: 7em;
  }
  .backbone-shield{
    font-size: 7em;
  }
  .react-shield{
    font-size: 7em;
  }
  .yeo-shield{
    font-size: 7em;
  }
  .npm-shield{
    font-size: 7em;
  }
  .git-shield{
    font-size: 7em;
  }
  .github-shield{
    font-size: 7em;
  }
  //Hover Effect
  .extra{
    display: none;
    font-weight: bolder;
  }
  .html-shield:hover .extra{
    position: absolute;
    display: block;
    bottom: 100px;
    left: 0;
    right: 0;
    transition: .25s;
  }
  .html-shield:hover{
    color: maroon;
  }
  .css-shield:hover .extra{
    position: absolute;
    display: block;
    bottom: 100px;
    left: 0;
    right: 0;
    transition: .25s;
  }
  .css-shield:hover{
    color: maroon;
  }
  .bootstrap-shield:hover .extra{
    position: absolute;
    display: block;
    bottom: 100px;
    left: 0;
    right: 0;
    transition: .25s;
  }
  .bootstrap-shield:hover{
    color: maroon;
  }
  .sass-shield:hover .extra{
    position: absolute;
    display: block;
    bottom: 100px;
    left: 0;
    right: 0;
    transition: .25s;
  }
  .sass-shield:hover{
    color: maroon;
  }
 .js-shield:hover .extra{
   position: absolute;
   display: block;
   bottom: 105px;
   left: 0;
   right: 0;
   transition: .25s;
 }
 .js-shield:hover{
   color: maroon;
 }
 .jq-shield:hover .extra{
   position: absolute;
   display: block;
   bottom: 100px;
   left: 0;
   right: 0;
   transition: .25s;
 }
 .jq-shield:hover{
   color: maroon;
 }
 .backbone-shield:hover .extra{
   position: absolute;
   display: block;
   bottom: 100px;
   left: 0;
   right: 0;
   transition: .25s;
 }
 .backbone-shield:hover{
   color: maroon;
 }
 .react-shield:hover .extra{
   position: absolute;
   display: block;
   bottom: 100px;
   left: 0;
   right: 0;
   transition: .25s;
 }
 .react-shield:hover{
   color: maroon;
 }
 .yeo-shield:hover .extra{
   position: absolute;
   display: block;
   bottom: 100px;
   left: 0;
   right: 0;
   transition: .25s;
 }
 .yeo-shield:hover{
   color: maroon;
 }
 .npm-shield:hover .extra{
   position: absolute;
   display: block;
   bottom: 100px;
   left: 0;
   right: 0;
   transition: .25s;
 }
 .npm-shield:hover{
   color: maroon;
 }
 .git-shield:hover .extra{
   position: absolute;
   display: block;
   bottom: 100px;
   left: 0;
   right: 0;
   transition: .25s;
 }
 .git-shield:hover{
   color: maroon;
 }
 .github-shield:hover .extra{
   position: absolute;
   display: block;
   bottom: 100px;
   left: 0;
   right: 0;
   transition: .25s;
 }
 .github-shield:hover{
   color: maroon;
 }
 }


//Portfolio Images
.view-project{
  background: #384047;
  color: white;
}
.view-project:hover{
  color: white;
  font-weight: bold
}
//Contact
.resume{
  color: #384047;
  text-decoration: underline;
}
//Footer
.facebook{
  color: #384047;
  font-size: 2em;
}
.facebook:hover{
  color: #384047;
}
.github{
  color: #384047;
  font-size: 2em;
}
.github:hover{
  color: #384047;
}
.linkedin{
  color: #384047;
  font-size: 2em;
}
.linkedin:hover{
  color: #384047;
}
.twitter{
  color: #384047;
  font-size: 2em;
}
.twitter:hover{
  color: #384047;
}

//Email
.email{
  text-decoration: none;
  color: black;
}

// @media (min-width: 320px) and (max-width: 568px){
//
//   // #menu select, #menu button{
//   //   font-size: 12px;
//   //  display: none;
//   // }
//   .first-name{
//     text-align: center;
//     padding-top: 25px;
//     font-size: 40px;
//   }
//   .last-name{
//     text-align: center;
//     font-size: 40px;
//   }
//   .job-title{
// //     text-align: center;
// //     font-size: 20px;
// //   }
// //   #menu ul li a {
// //     font-size: 12px;
// //   }
// //
// //   #menu ul {
// //     padding-left: 0px;
// //   }
//
// // #menu ul {
// //  display: none;
// // }
//
// }

// @media (min-width: 568px){
//
// // .site-heading{
// //   height: 60vh;
// // }
// .job-title{
//   font-size: 50px;
// }
//
//
// }
